@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
           <partial name="_ProductCard" model="@item"></partial>
        </div>
    }
</div>