@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
           <partial name="_ProductCard" model="@item"></partial>
        </div>
    }
</div>

  <ul class="pagination">

  @for(int i = 1 ; i <= ViewBag.TotalPages ;i++)
    {
    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i" >@i</a></li>   
    }
  </>

